/* nav */
nav {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-family: Tahoma; 
}
nav a {
   display: block;
   color: rgba(128, 128, 128, 0.3);
   padding: 16px 20px;
   text-align: center;
   text-decoration: none;
   float: right;
}
nav a:hover {
   background-color: lightblue;
   color: black;
}
nav .active {
   background-color: rgb(6, 195, 253);
   color: black;
}
nav .icon {
   display: none;
}
.menu {
   height:40px;
   width:auto;
}

/* all */
body {
   margin:0px;
}
p {
   margin-top: 50px;
   margin-bottom: 80px;
   margin-right: 80px;
   margin-left: 80px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
}
h1 {
   margin-left:10px;
}
img {
   height:auto;
   width:100%;
}

/* footer */
footer {
   list-style-type: none;
   text-align:center;
   background-color: grey;
   color: whitesmoke;
   margin: 0px;
   padding:20px;
   overflow:hidden;
}
footer a {
   display: inline-block;
   color: rgb(6, 195, 253);
   padding: 8px 10px;
   text-decoration: none;
   border: 2px solid rgb(6, 195, 253);
   border-radius: 5px;
   margin: 5px;
   font-family: Tahoma;
}
footer a:hover {
   color: black;
}

/* index */


/* contact */


/* services */


@media screen and (max-width: 600px) {
   nav a {display: none;}
   nav a.icon {
     float: right;
     display: block;
   }
 }
/* for mobile phones */
@media screen and (max-width: 600px) {
   /* general / home */
   nav.responsive {position: relative;}
   nav.responsive a.icon {
     position: absolute;
     right: 0;
     top: 0;
   }
   nav.responsive a {
     float: none;
     display: block;
     text-align: left;
   }

   p {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-right: 10px;
       margin-left: 10px;              
   }
   h1 {
      text-align: center;
   }
}

/* for ipads / tablets */
@media screen and (max-width: 800px) {
   /* general / home */
   p {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 30px;
      margin-left: 30px;              
   }
}