body {
   margin:0px;
   background-image: url("/images/background.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
}
nav {
   list-style-type: none;
   margin: 0;
   padding: 0;
   padding-left: 10px;
   overflow: hidden;
   font-family: Tahoma;
   font-size: 16px;
   text-decoration: none; 
}
nav a {
   display: block;
   color: rgb(165, 165, 165);
   padding: 16px 20px;
   text-align: center;
   text-decoration: none;
   float: left;
}
nav a:hover{
   text-decoration: none;
}
p {
   margin-top: 50px;
   margin-bottom: 50px;
   margin-right: 80px;
   margin-left: 90px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: white;
}
img {
   height:auto;
   width:100%;
}

/* footer */
.footer{
   text-align:center;
   padding-bottom: 30px;
   color:white;
   font-family: Tahoma;
   font-size: 15;
}

/* index */
.container{
   max-width: 70%;
   padding-bottom: 50px;
   padding-top: 50px;
}
.container > h1{
   color: rgb(165, 165, 165);
}
.container > h2{
   color: rgb(165, 165, 165);
}

/* for mobile phones */
@media screen and (max-width: 600px) {
   /* general / home */
   p {
       margin-top: 20px;
       margin-bottom: 20px;
       margin-right: 10px;
       margin-left: 10px;              
   }
   h1 {
      text-align: center;
   }
}

/* for ipads / tablets */
@media screen and (max-width: 800px) {
   /* general / home */
   p {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 30px;
      margin-left: 30px;              
   }
} 